html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    transition-delay: 0.3s;
    font-size: 2em;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

input[type=text] {
    margin: 10px;
    color: transparent;
    text-shadow: 0 0 0 rgb(0, 104, 202);
    font-size: 1.5em;
    height: 50px;
    width: 400px;
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color: rgb(136, 188, 255);
    outline: none;
}

input::placeholder {
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
}

.daytime {
    background-image: linear-gradient(0deg, rgb(82, 157, 255), rgb(0, 162, 255));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nighttime {
    background-image: linear-gradient(0deg, rgb(0, 0, 0), rgb(0, 5, 53));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    text-align: center;
    transition: all 1s;
    color: white;
}

#location {
    font-size: 4rem;
}

#temp {
    font-size: 5em;
    margin-left: 50px;
}

#wind, #humidity {
    display: flex;
    justify-content: center;
    font-size: 1em;
}

.content {
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.hourly {
    display: inline-flex;
    justify-content: space-between;
    padding: 10px 10px;
}