body {
    font-family: 'Lato', sans-serif;
    transition-delay: 0.3s;
    font-size: 2em;
    color: #fff;
    zoom: 0.7;
    /*text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;*/
}

input[type=text] {
    color: transparent;
    text-shadow: 0 0 0 rgb(0, 104, 202);
    font-size: 1.5em;
    height: 35px;
    width: 60%;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 14px 14px 14px 20px;
    margin-bottom: 20px;
    border: 3px solid rgba(0, 0, 0, 0);
}

input[type=text]:focus {
    border-color: rgb(136, 188, 255);
    outline: none;
}

input::placeholder {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    -webkit-transition: .5s;
    transition: .5s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgb(221, 50, 50);
}

input:focus+.slider {
    box-shadow: 0 0 1px rgb(221, 50, 50);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#blue {
    color: rgb(0, 104, 202);
    font-weight: bold;
    text-shadow:
    -1px -1px 0 rgb(215, 236, 255),
    1px -1px 0 rgb(215, 236, 255),
    -1px 1px 0 rgb(215, 236, 255),
    1px 1px 0 rgb(215, 236, 255);
}

#red {
    color: rgb(221, 50, 50);
    font-weight: bold;
    text-shadow:
    -1px -1px 0 rgb(255, 218, 218),
    1px -1px 0 rgb(255, 218, 218),
    -1px 1px 0 rgb(255, 218, 218),
    1px 1px 0 rgb(255, 218, 218);
}

p {
    display: inline-block;
    transform: translate3d(0, -4px, 0)
}

.daytime {
    background-image: linear-gradient(0deg, rgb(82, 157, 255), rgb(89, 194, 255));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nighttime {
    background-image: linear-gradient(0deg, rgb(0, 0, 0), rgb(0, 5, 53));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    text-align: center;
    transition: all 1s;
    color: white;
}

#location {
    font-size: 4rem;
}

#temp {
    font-size: 5em;
}

#wind, #humidity {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1em;
}

.content {
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    opacity: 0;
}

.hourly {
    display: inline-flex;
    justify-content: space-between;
    padding: 10px 10px;
    text-align: center;
    margin: 10px 10px;
}

@media only screen and (max-width: 600px) {
    input::placeholder {
        font-size: 0.6em;
        transform: translate3d(0, -4px, 0)
    }
}

@media only screen and (min-width: 768px) {
    input::placeholder {
        font-size: 1em;
    }
}